@charset "UTF-8";
/* CSS Document */

body {
	background-color: whitesmoke;
	text-align: center;
	top: 0px;
	left: 0px;
}

h1,h2,h3,h4 {
	text-transform: uppercase;
	color: #F17511;
	margin-bottom: 1rem;
}

p {
	
}

.header {
	height: 127px;
}

.header_logo {
	top: 31px;
	left: 200px;
	width: 300px;
	height: 85px;
}

.container-fluid {
	padding: 3% 15%;
}

.content-txt {
	text-align: left;
	padding: 2% 7% 5% 2%;
}

img.kar-logo {
	position: relative;
	max-height: 194px;
}

#background-video {
  object-fit: cover;
  overflow: visible;
}